<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <main>
        <form>
            <input type="email" placeholder="E-mail" id="email">
            <input type="password" placeholder="Senha" id="senha">
            <button type="submit" class="btn-logar">Login</button>
            
        </form>
    </main>

    <script src="../js/scriptsLogin.js"></script>
</body>
</html>